{% import "bootstrap/utils.html" as utils %}{% extends "layout.html" %}{% block yummy %}
<div class="post-jumbo">
    <div class="card">
        <div class="welcome-area">
            {{ utils.flashed_messages() }}
            <div class="welcome">
                <h1>Yummy Recipes</h1>
                <p>Welcome to Yummy recipes,<br> Create and share your savory ideas with us. Lets whet our palettes together. Happy creating</p>
            </div>

        </div>
        <div class="signin">
            <div class='form'>
                <form action="{{ url_for('signin') }}" method="post">
                    {{ login_form.username.label }}{{ login_form.username }} {{ login_form.password.label }}{{ login_form.password }} {{ login_form.submit }}
                </form>
            </div>
        </div>

        <div class="signup">
            <h2>
                <strong>New to Yummy?</strong> Sign up
            </h2>
            <div class='form'>
                <form action="{{ url_for('register') }}" method="post">
                    {{ register_form.username.label }}{{ register_form.username }}{{ register_form.password.label }} {{ register_form.password }}{{ register_form.confirm_password.label }} {{ register_form.confirm_password }} {{ register_form.submit }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock yummy %}