<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yummy recipes</title>
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/style.css">

</head>

<body>
    <jumbotron>
        <div post-jumbo>
            <div class="card">
                <div class="welcome-area">

                    <div class="welcome">
                        <h1>Yummy Recipes</h1>
                        <p>Welcome to Yummy recipes,<br> Create and share your savory ideas with us. Lets whet our palettes together. Happy creating</p>
                    </div>

                </div>
                <div class="signin">
                    <div class='form'>
                        <form action="" method="post">
                            <input name="username" placeholder="Username" type="text">
                            <table class="login-table">
                                <tbody>
                                    <tr>
                                        <td class="login-table-primary">
                                            <input name="password" placeholder="Password" type="password">
                                        </td>
                                        <td class="login-table-secondary">
                                            <button type="submit" class="submit button-sign button-radius button-other login-table-btn">
                                                Log in
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="forget">
                                <a class="forgot" href="" rel="">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="signup">
                    <h2>
                        <strong>New to Yummy?</strong> Sign up
                    </h2>
                    <div class='form'>
                        <form action="" method="post">
                            <input name="username" placeholder="Name" type="text">
                            <input name="email" placeholder="Email" type="text">
                            <input name="password" placeholder="Password" type="password">
                            <input value="" name="context" type="hidden">
                            <button type="submit" class="button-sign button-radius button-top u-floatRight submit">
                                Sign up
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </jumbotron>

</body>

</html>