{% import "bootstrap/utils.html" as utils %}{% import "bootstrap/wtf.html" as wtf %}{% extends "layout.html" %}{% block title %}Log in{% endblock %}{% block yummy %}
<div class="post-jumbo">
    <div class="card">
        <div class="welcome-area">

            <div class="welcome">
                <h1>Yummy Recipes</h1>
                <p>Welcome to Yummy recipes,<br> Create and share your savory ideas with us. Lets whet our palettes together. Happy creating</p>
            </div>

        </div>
        <div class="signin">
            <div class='form'>
                <h4>Login</h4>
                <br/> {{ wtf.quick_form(form) }}
            </div>
            <p style="text-align: center;">Don't have an account.
                <a href="{{ url_for('register') }}">Sign up</a>
            </p>
        </div>
        {{ utils.flashed_messages(dismissible = True) }}

    </div>
</div>
{% endblock yummy %}